* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;

}
html {
  scroll-behavior: smooth;

}

body {
  background-color: rgba(255,150,180,1);

}


#start {
  top:0;
  position: absolute;
}

.container {
  padding-bottom: 2em;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width:80%;


}
.leftimg {
  height:500px;
  margin:2em;
  border-radius:10px;
  justify-content: center;
  align-self: center;
  border: 15px solid white;
  background-origin: border-box;

}
.righttext {
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
  object-fit: scale-down;
  justify-content: center;
  align-self: center;

}
.intro {
   background-color: black;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
   display: flex;
   justify-content: center;
   align-items: center;

}

.text {
  color:rgba(255,240,225,1);
  font-family:'Poppins';
  font-weight: 900;
  font-size:3em;
  text-align: center;

}
.text2 {
  color:rgba(255,159,225,1);
  font-family:'Poppins';
  font-weight: 900;
  font-size:3em;
}
.intro2 {
  width:100%;
  height:600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  font-weight: 900;
  background-image: url(./pinktop.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 3em;



}
h1.big-text {
  font-size: 5em;
  color:rgba(255,240,225,1);
  text-shadow: 1px 1px 20px rgba(0,0,200,1);
  text-align: center;
  z-index: 100;
}

.slider {
  background: rgba(255,150,180,1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}
.nav {
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  top:0;
  width:100%;
  height:3em;
  position: fixed;
  text-shadow: 1px 1px 20px rgba(0,0,200,1);
  color:rgba(255,240,225,1);


}

ul.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width:80%;
  text-decoration: none;
  list-style: none;
  font-family: 'Shadows Into Light', cursive;
}

li {
  margin-right: 2em;
  text-decoration: none;
  font-family: inherit;
  font-size: 2em;


}

a:active, a:hover, a:link, a:visited {
  text-decoration: none;
  text-shadow: 1px 1px 20px rgba(0,0,200,1);
  color:rgba(255,240,225,1);
}

.logo {
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
  justify-content: flex-start;
  flex-direction: row;
  width: 20%;
  text-shadow: 1px 1px 20px rgba(0,0,200,1);
  color:rgba(255,240,225,1);
}



section {
  display: flex;
  flex-direction: column;
  padding:1em;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-top: 1em;

}
.sec-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 4em;
}
.sec-body-right {
  display:flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 4em;

}
.aboutus,.directions,.contact,.gallery {

  text-align: center;
  color:rgba(255,240,255,1);
  font-size: 3em;
  text-shadow: 1px 1px 20px rgba(0,0,200,1);
  font-family: 'Poppins', sans-serif;


}

#one {

  order:one;
  background-color: rgba(100,0,0,.05);
  color:rgba(255,240,255,1);
  text-shadow: 1px 1px 4px black;
}
#two {
  order:two;
  background-color: rgba(100,0,0,.05);
  color:rgba(255,240,255,1);
  text-shadow: 1px 1px 4px black;
}
#three {
  order:three;
  font-weight: bold;
  background-color: rgba(100,0,0,.05);
  color:rgba(255,240,255,1);
  text-shadow: 1px 1px 4px black;
}
#four{
  order:four;
  background-color: rgba(100,0,0,.05);
  color:rgba(255,240,255,1);
  text-shadow: 1px 1px 4px black;
}

footer {
  margin:auto;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding-bottom: 1em;
}

.copyright {
  display:flex;
  text-align: center;
  justify-content: flex-start;
  width:30%;
  color:white;

}
.socialfooter {
  display:flex;
  text-align: center;
  justify-content: space-around;
  width:30%;

}

.copyright-text {
  color:white;

}

.top {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width:97%;
  bottom: 5em;

}

#topicon {
  width:42px;
  background-color: rgba(255,200,255,.4);
  border-radius: 30%;
}

@media screen and (max-width: 1550px) {

  .intro2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height:500px;
    font-family: 'Poppins';
    font-weight: 900;
    background-image: url(./pinktop.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 3em;

  }
  h1.big-text {
    font-size: 5em;
    color:rgba(255,240,225,1);
    text-shadow: 1px 1px 20px rgba(0,0,200,1);
    text-align: center;
  }

  .nav {

    display: flex;
    flex-direction: column;
    top:0;
    width:100%;
    height:3em;
    position: fixed;
    text-shadow: 1px 1px 20px rgba(0,0,200,1);
    color:rgba(255,240,225,1);

  }
  ul.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%;
    text-decoration: none;
    list-style: none;
    font-family: 'Shadows Into Light', cursive;
  }

  li {
    margin-right: 2em;
    text-decoration: none;
    font-family: inherit;
    font-size: 2em;

  }

    a:active, a:hover, a:link, a:visited {
      text-decoration: none;
      text-shadow: 1px 1px 20px rgba(0,0,200,1);
      color:rgba(255,240,225,1);
  }

  .container {

    padding-bottom: 2em;
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width:100%;



  }

  .logo {
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 20px rgba(0,0,200,1);
    color:rgba(255,240,225,1);
  }
  .righttext {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    object-fit: scale-down;
    justify-content: center;
    align-self: center;
    font-size: 2em;
  }

  section {
    display: flex;
    flex-direction: column;
    padding:1em;
    justify-content: center;
    width:80%;

  }
  .sec-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 2em;
    width:100%;
  }
  .sec-body-right {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 2em;
    width:100%

  }
  footer {
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1em;
  }
  .copyright {
    display:flex;
    text-align: center;
    justify-content: center;
    width:100%;
    color:white;
    margin-top: 1em;

  }
  .socialfooter {
    display:flex;
    text-align: center;
    justify-content: space-around;
    width:100%;


  }

}

@media screen and (max-width: 640px) {

  .nav {

    display: flex;
    flex-direction: column;
    top:0;
    width:100%;
    height:3em;
    position: fixed;
    text-shadow: 1px 1px 20px rgba(0,0,200,1);
    color:rgba(255,240,225,1);

  }
  ul.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%;
    text-decoration: none;
    list-style: none;
    font-family: 'Shadows Into Light', cursive;
  }

  li {
    margin-right: 1em;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.5em;

  }

  .container {

    padding-bottom: 2em;
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width:100%;
  }
  .leftimg {
    object-fit: scale-down;
    border-radius:10px;
  }
  .socialfooter {
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width:100%;
  }
  .righttext {
    padding-left: .5em;
    padding-right: .5em;
    padding-top: 1em;
    padding-bottom: 1em;
    object-fit: scale-down;
    justify-content: center;
    align-self: center;
    font-size: 1em
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:90%;

  }

  .sec-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width:80%;
  }
  .sec-body-right {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width:80%

  }
  footer {

    display:flex;
    flex-direction: column-reverse;
    width: 100%;
    padding-bottom: 1em;
  }
  .socialfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }


}

@media screen and (max-width: 340px) {
  ul.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    text-decoration: none;
    list-style: none;
    font-family: 'Shadows Into Light', cursive;
  }

  .container {

    padding-bottom: 2em;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width:80%;



  }
  .leftimg {

    margin:0;
    padding:0;
    border-radius:5px;
    align-self: center;
    border: none;
    background-origin: border-box;
    width:200px;

  }
  .righttext {

    padding-top: .5em;
    padding-bottom: .5em;
    object-fit: scale-down;
    justify-content: center;
    align-self: center;
    width:100%;

  }
  .intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height:200px;
    font-family: 'Poppins';
    font-weight: 700;
    background-image: url(./pinktop.jpg);
    background-position: center;
    background-size: contain;
    margin-top:14em;

  }
  h1.big-text {
    font-size: 2em;
    color:rgba(255,240,225,1);
    text-shadow: 1px 1px 20px rgba(0,0,200,1);
    text-align: center;
  }
  .aboutus,.directions,.contact,.gallery {

    text-align: center;
    color:rgba(255,240,255,1);
    font-size: 3em;
    text-shadow: 1px 1px 20px rgba(0,0,200,1);
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    background-origin: border-box;


  }
  .copyright {
    font-size: 1em;
  }

}
