* {
  padding:0;
  margin:0;
  font-size: 1em;

}

body {
  background-color: rgba(255,150,180,1);

}
#start {
  top:0;
  position: absolute;
}

.container {

  padding-bottom: 2em;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width:80%;



}
.leftimg {
  height:500px;
  margin:2em;
  border-radius:10px;
  justify-content: center;
  align-self: center;
  border: 15px solid white;
  background-origin: border-box;

}
.righttext {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  object-fit: scale-down;
  justify-content: center;
  align-self: center;

}
.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
  height:900px;
  font-family: 'Poppins';
  font-weight: 900;
  background-image: url(./pinktop.jpg);
  background-position: center;
  background-size: contain;
  margin-top: 5em;

}
h1.intro-txt {
  font-size: 5em;
  color:rgba(255,240,225,1);
  text-shadow: 1px 1px 20px rgba(0,0,200,1);
  text-align: center;
}
.nav {
  padding: 1em;
  display: flex;
  flex-direction: row;
  top:0;
  width:100%;
  height:3em;
  position: fixed;
  text-shadow: 1px 1px 20px rgba(0,0,200,1);
  color:rgba(255,240,225,1);
  

}

ul.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width:80%;
  text-decoration: none;
  list-style: none;
  font-family: 'Shadows Into Light', cursive;
}

li {
  margin-right: 2em;
  text-decoration: none;
  font-family: inherit;
  font-size: 2em;


}

a:active, a:hover, a:link, a:visited {
  text-decoration: none;
  text-shadow: 1px 1px 20px rgba(0,0,200,1);
  color:rgba(255,240,225,1);
}

.logo {
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
  justify-content: flex-start;
  flex-direction: row;
  width: 20%;
  text-shadow: 1px 1px 20px rgba(0,0,200,1);
  color:rgba(255,240,225,1);
}

.banner {

}



section {
  display: flex;
  flex-direction: column;
  padding:1em;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-top: 1em;

}
.sec-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 4em;
}
.sec-body-right {
  display:flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 4em;

}
.aboutus,.directions,.contact,.gallery {

  text-align: center;
  color:rgba(255,240,255,1);
  font-size: 3em;
  text-shadow: 1px 1px 20px rgba(0,0,200,1);
  font-family: 'Poppins', sans-serif;


}

#one {

  order:one;
  font-weight: bold;
  background-color: rgba(100,0,0,.05);
  color:rgba(255,240,255,1);
  text-shadow: 1px 1px 4px black;
}
#two {
  order:two;
  background-color: rgba(100,0,0,.05);
  color:rgba(255,240,255,1);
  text-shadow: 1px 1px 4px black;
}
#three {
  order:three;
  font-weight: bold;
  background-color: rgba(100,0,0,.05);
  color:rgba(255,240,255,1);
  text-shadow: 1px 1px 4px black;
}
#four{
  order:four;
  background-color: rgba(100,0,0,.05);
  color:rgba(255,240,255,1);
  text-shadow: 1px 1px 4px black;
}

footer {
  margin:auto;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding-bottom: 1em;
}

.copyright {
  display:flex;
  text-align: center;
  justify-content: flex-start;
  width:30%;
  color:white;

}
.socialfooter {
  display:flex;
  text-align: center;
  justify-content: space-around;
  width:30%;

}

.copyright-text {
  color:white;

}

.top {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width:95%;
  bottom: 5em;

}

#topicon {
  width:32px;
  background-color: rgba(255,200,255,.4);
}

@media screen and (max-width: 1550px) {

  .intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height:500px;
    font-family: 'Poppins';
    font-weight: 900;
    background-image: url(./pinktop.jpg);
    background-position: center;
    background-size: contain;
    margin-top: 8em;

  }
  h1.intro-txt {
    font-size: 5em;
    color:rgba(255,240,225,1);
    text-shadow: 1px 1px 20px rgba(0,0,200,1);
    text-align: center;
  }
  .nav {

    display: flex;
    flex-direction: column;
    top:0;
    width:100%;
    height:3em;
    position: fixed;
    text-shadow: 1px 1px 20px rgba(0,0,200,1);
    color:rgba(255,240,225,1);

  }
  ul.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%;
    text-decoration: none;
    list-style: none;
    font-family: 'Shadows Into Light', cursive;
  }

  li {
    margin-right: 2em;
    text-decoration: none;
    font-family: inherit;
    font-size: 2em;

  }

    a:active, a:hover, a:link, a:visited {
      text-decoration: none;
      text-shadow: 1px 1px 20px rgba(0,0,200,1);
      color:rgba(255,240,225,1);
  }

  .container {

    padding-bottom: 2em;
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width:100%;



  }

  .logo {
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 20px rgba(0,0,200,1);
    color:rgba(255,240,225,1);
  }

  section {
    display: flex;
    flex-direction: column;
    padding:1em;
    justify-content: center;
    width:80%;

  }
  .sec-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 2em;
    width:100%;
  }
  .sec-body-right {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 2em;
    width:100%

  }
  footer {

    display:flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1em;
  }
  .copyright {
    display:flex;
    text-align: center;
    justify-content: center;
    width:100%;
    color:white;
    margin-top: 1em;

  }
  .socialfooter {
    display:flex;
    text-align: center;
    justify-content: space-around;
    width:100%;


  }

}

@media screen and (max-width: 640px) {

  .nav {

    display: flex;
    flex-direction: column;
    top:0;
    width:100%;
    height:3em;
    position: fixed;
    text-shadow: 1px 1px 20px rgba(0,0,200,1);
    color:rgba(255,240,225,1);

  }
  ul.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%;
    text-decoration: none;
    list-style: none;
    font-family: 'Shadows Into Light', cursive;
  }

  li {
    margin-right: 1em;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.5em;

  }

  .container {

    padding-bottom: 2em;
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width:100%;
  }
  .leftimg {
    object-fit: scale-down;
    border-radius:10px;
  }
  .socialfooter {
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width:100%;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:90%;

  }

  .sec-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width:80%;
  }
  .sec-body-right {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width:80%

  }
  footer {

    display:flex;
    flex-direction: column-reverse;
    width: 100%;
    padding-bottom: 1em;
  }
  .socialfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }


}
